.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
}

body {
  padding: 10px 50px;
}

h1{
  font-size:4rem;
}

.move-button {
  background-color: rgb(40, 100, 211);
}

.move-button:hover {
  background-color: rgb(35, 91, 195);
}

.delete-button, .move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}